@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/vremena-grotesk');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: 'Black Writing';
    src: url('FONTS/black-writing/Black\ Writing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 1400px) {
  .grid-container { column-count: 4; }
}
@media (max-width: 1100px) {
  .grid-container { column-count: 3; }
}
@media (max-width: 768px) {
  .grid-container { column-count: 2; }
}
@media (max-width: 480px) {
  .grid-container { column-count: 1; }
}
.gallery-nav ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    margin: 0;
    padding: 0;
}
.gallery-nav ul li {
    border-bottom: 3px solid black;
}
.gallery-nav ul li button {
    background: none;
    border: none;
    font: inherit;
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    display: block;
}
.gallery-nav ul li button:hover {
    text-decoration: underline;
    background-color: yellow;
    color: black;
    transition: all 0.5s ease;
}
.gallery-nav ul li button:active {
    background-color: black;
    color: white;
    transition: all 0.2s ease;
}
.gallery-nav button.active {
    background-color: black;
    color: white;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav.gallery-nav {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    margin: 0 0 20px 0;
}
img {
  max-width: 100%;
  height: auto;
}
.grid-container {
  column-count: 5;         
  column-gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;     
  box-sizing: border-box;  
}
.grid-container img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: all .25s ease-in-out;
}
.grid-container div {
  display: inline-block;
  break-inside: avoid;
  margin-bottom: 1.5rem;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  transition: all .25s ease-in-out;
}
.grid-container div:hover {
  border-color: coral;
}
.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: all .25s ease-in-out;
}
.grid-container div p {
  margin: 5px 0;
  text-align: center;
  font-style: italic;
  text-indent: 0;
}
