.icon-small {
    width: 80px;
    height: 80px;
    vertical-align: middle; 
    margin-right: 8px;
    border: 3px solid black;
    transition: all 0.2s ease;
    transform: scale(1.1); 
    transition: all 0.1s;
}
.icon-small:hover {
    transform: translate(-4px, -4px); 
    box-shadow: 8px 8px 0px black; 
    background-color: yellow;
    transform: translate(-4px, -4px);
}
.icon-small:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px black;
}
.links-icon {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 10px;
    padding-bottom: 20px;
}
.icon-small img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    filter: brightness(0);
    transition: all 0.1s ease;
}
.neo-icon-link:hover {
    background: #ffff00;
    
    box-shadow: 10px 10px 0px black;
}