@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/vremena-grotesk');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: 'Black Writing';
    src: url('FONTS/black-writing/Black\ Writing.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
main.beats-page {
  font-family: 'Bebas Neue', sans-serif;
  padding: auto;
  max-width: 1200px;
  width: 100vw; 
  margin: 0;
  align-items: center;
  text-align: center;
}
.beats-page > h1.title-page {
  font-size: 72px;
  margin: 20px 100px;
  align-items: center;
  text-align: center;
  transform: rotate(2deg);
}
.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 40px;
}
.music-card {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 470px;
    border: 3px solid black;
    background-color: white;
    box-shadow: 12px 12px 0 black;
    transition: transform .2s ease;
    overflow: hidden; 
    flex-shrink: 0;
}
.music-visual {
    width: 350px;
    height: 470px;
    object-fit: cover;
}
.music-card:hover {
    transform: translate(-4px, -4px);
    box-shadow: 16px 16px 0 black;
}
.music-card-items {
    padding: 20px 30px;
    flex-grow: 1;
    border-left: 3px solid black; 
    text-align: left;
}
.music-card-items {
    padding: 30px;
    flex-grow: 1;
    border-left: 3px solid black; 
    text-align: left;
    align-self: stretch; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}
h2.album-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1;
}
h3.artist-name {
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}
.genre-list {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
}
.review {
    margin-top: auto;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.95rem;
    border-top: 1px solid #000000;
    line-height: 1.4;
    padding-top: 15px;
}
.review > h1 {
    font-weight: bold;
    text-decoration: underline;
}