.video-container {
    margin: 20px 0;
    background: white;
    padding: 10px; 
    border: 4px solid black;
    box-shadow: 15px 15px 0px black;
    transition: all 0.2s ease;
}
video {
    width: 100%;
    display: block;
    image-rendering: crisp-edges;
    filter: sepia(20%) contrast(110%);
    border: 2px solid white; 
}
.video-container:hover {
    transform: translate(-5px, -5px);
    box-shadow: 20px 20px 0px yellow;
}
.video-container:hover video {
    filter: none; 
}